.menu-wrap {
  @apply .absolute .bg-grey-darkest .invisible .opacity-0 .pin-r .pin-t .rounded-bl-lg .shadow-lg .text-grey-darkest .transition-all .z-50;
	transform: translate3d(16rem, -16rem, 0);
}

.open-button {
	@apply .opacity-100 .transition-all .visible;
}

/* Shown menu */
body.show-menu {
  @apply .overflow-hidden;
}

body.show-menu .open-button {
	@apply .invisible .opacity-100;
}

body.show-menu .menu-wrap {
	@apply .opacity-100 .visible;
	transform: translate3d(0, 0, 0);
	visibility: visible;
}

body.show-menu .page-wrap {
	transform: translate3d(-4rem, 4rem, 0);
}

body.show-menu .page::before {
	opacity: 1;
	transition: opacity 0.3s;
	transform: translate3d(0, 0, 0);
}
